body {
    background-color: #950cc6;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #181d6d;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
